<h1>Lista de empanadas</h1>
<table>
    <thead>
        <tr>
            <th>Foto</th>
            <th>Empanada</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empanada of empanadas" [ngClass]= "{'empty': empanada.empty}">
            <td><img width="100" class= "img-thumbnail" [src]="empanada.image" [alt]="empanada.type"></td>
            <td>{{empanada.type}}</td>
            <td>{{empanada.price |currency}}</td>
            <td ><span *ngIf="empanada.stock==0">Sin stock por hoy</span></td>
            <td><app-input-number [(quantity)]="empanada.quantity"  [max]="empanada.stock" *ngIf="empanada.stock" (maxReached)="maxReached($event)"> </app-input-number>
                <button (click)="addCart(empanada)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>
